.reviewineerContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 200px;
  width: 30%;
  border-style: solid;
  padding: 10px;
  border-width: 1px;
}

.reviewouterContainer {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

@media (max-width: 786px) {
  .reviewouterContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .reviewineerContainer {
    width: 100%;
  }
}
